:root {
    /* Cores */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: hsl(208, 92%, 53%);
    --twitter: hsl(203, 89%, 53%);
    --instagram: linear-gradient(35deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    --youtube: hsl(348, 97%, 39%);
    --toggle-dark: linear-gradient(225deg, hsl(146, 68%, 55%), hsl(210, 78%, 56%));
    --toggle-light: hsl(230, 22%, 74%);
    --toggle-circle-dark: hsl(228, 28%, 20%);
    --box-hover: hsl(228, 26%, 27%);
    --toggle-circle-light: hsl(227, 47%, 96%);
    --dark-bg: hsl(230, 17%, 14%);
    --dark-bg-top: hsl(232, 19%, 15%);
    --dark-bg-card: hsl(228, 28%, 20%);
    --dark-text1: hsl(228, 34%, 66%);
    --dark-text1-rgb: rgb(225, 227, 240);
    --dark-text2: hsl(0, 0%, 100%);
    --dark-text3: hsl(0, 0%, 85%);
    --card-hover-dark: brightness(1.15);
    --light-bg: hsl(0, 0%, 100%);
    --light-bg-top: hsl(225, 100%, 98%);
    --light-bg-card: hsl(227, 47%, 96%);
    --light-text1: hsl(228, 12%, 44%);
    --light-text2: hsl(230, 17%, 14%);
    --card-hover-light: brightness(.95);
    --background: var(--dark-bg);
    --header-bg: var(--dark-bg-top);
    --card-bg: var(--dark-bg-card);
    --text-color1: var(--dark-text1);
    --text-color2: var(--dark-text2);
    --card-hover: var(--card-hover-dark);
  }

  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

h1, h2, h3, h4 {
    color: var(--light-bg);
}  

h1 {
    font-size: 65px;
    transition: ease-in-out 0.5s;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    color: var(--dark-text1);
    font-weight: 800;
}

.up {
    color: var(--lime-green);
    font-weight: 700;
    margin-left: 5px;
}

.down {
    color: var(--bright-red);
    font-weight: 700;
    margin-left: 5px;
}

body {
    font-family: 'inter' sans-serif;
    font-size: 14px;
    background-color: var(--light-text2);
    transition: ease-in-out 0.5s;
}

body.toggle {
    background-color: var(--dark-text2);
}

body.toggle h1 {
    color: black;
}

body.toggle h3 {
    color: var(--dark-text1);
}

h5 {
    color: var(--dark-text1);
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body {
    background: hsl(230, 17%, 14%);
    font-family: 'inter', sans-serif;
    font-size: 14px;
}

.dashboard__container {
    width: 80%;
    margin: 50px auto;
}

.dashboard__container .dashboard__header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.toggle-button {
    display: flex;
}

.toggle-button p {
    margin-right: 20px;
}

label {
    display: flex;
    height: 25px;
    width: 50px;
    background: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

body.toggle label {
    background: var(--toggle-light);
}

.ball {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--dark-bg);
    position: absolute;
    top: 2px;
    left: 2px;
    cursor: pointer;
    transition: linear 0.2s;
}

body.toggle .ball {
    background-color: #fff;
}

#check:checked + .label .ball {
    transform: translate(24px);
}

#checkbox {
    display: none;
}

.dashboard-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    flex-wrap: wrap;
}

.dashboard-main .box:hover {
    background-color: var(--box-hover);
    cursor: pointer;
}

body.toggle .dashboard-main .box,
body.toggle .dashboard-overview .overview__box {
    background-color: var(--light-bg-top);
}

body.toggle .dashboard-main .box:hover,
body.toggle .dashboard-overview .overview__box:hover {
    background-color: var(--dark-text1-rgb);
}

.dashboard-main .box:nth-of-type(2) {
    border-top: 3px solid var(--twitter);
}

.dashboard-main .box:nth-of-type(3) {
    border-top: 3px solid transparent;
    border-image: var(--instagram);
    border-image-slice: 1;
}

.dashboard-main .box:last-of-type {
    border-top: 3px solid var(--youtube);
}

.dashboard-main .box .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.dashboard-main .box .icon img {
    margin-right: 10px;
}

.dashboard-main .box .box__button {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-overview {
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;    
}

body.toggle .dashboard__container h2 {
    color: #000;
}

.dashboard-overview .overview__box {
    background-color: var(--dark-bg-card);
    padding: 30px;
    width: 250px;
    height: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard-overview .overview__box:hover {
    background-color: var(--box-hover);
    cursor: pointer;
}

.dashboard-overview .overview__box .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.dashboard-overview .overview__box .second {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-overview .overview__box .second > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body.toggle .dashboard__container .overview__box h2 {
    color: #000;
}








