body{
    
    background: linear-gradient() hsl(210, 78%, 56%) para hsl(146, 68%, 55%);
    
    background: hsl(230, 17%, 14%);
    font-family: 'inter';
}

#page{
    background: hsl(232, 19%, 15%);
    width: 1440px;
    margin: 0 auto;
    border-radius: 20px;
}

header{
    
    background: hsl(236, 19%, 17%);
    width: 1440px;
    height: 125px;
    margin: auto;
    padding-top: 30px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
}

.container{
    width: 1440px;
    justify-items: center;
    margin-top: 100px;
}

nav{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 49rem;
}

article{
    width: 270px;    
    background: hsl(228, 28%, 20%);
    border-radius: 5px;
}

section{
    width: 1440px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

strong{
    font-size: 15px;
}

p{
    margin-left: 175px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    margin-top: 30px;
    
}

aside{
    width: 270px;    
    background: hsl(228, 28%, 20%);
    border-radius: 5px;
    height: 115px;
    
}

.principal-secundario {  display: grid;
    grid-auto-columns: 5fr;
    gap: 25px;
    width: 1000px;
    margin-left: 145px;
    grid-auto-flow: row;
    text-align: center;
    color: hsl(0, 0%, 100%);
    grid-template-areas:
      "box1 box2 box3 box4"
      "box5 box6 box7 box8";
      
  }
  
  .box1 { grid-area: box1; }
  
  .box2 { grid-area: box2; }
  
  .box3 { grid-area: box3; }
  
  .box4 { grid-area: box4; }
  
  .box5 { grid-area: box5; }
  
  .box6 { grid-area: box6; }
  
  .box7 { grid-area: box7; }
  
  .box8 { grid-area: box8; }
  
.bloco-7{
    
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10rem;
      
}

.resultado{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    gap: 7rem;
    margin-top: 7px;
    font-size: 30px;
}

span{
    font-size: 13px;
    color: hsl(356, 69%, 56%);
}


h5{
    color: hsl(228, 34%, 66%);
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
 