body{
    margin: 0;
   
    background: linear-gradient() hsl(210, 78%, 56%) para hsl(146, 68%, 55%);
    
    min-height: 100vh;

    font-family: 'inter';
}

#page{
    background: hsl(230, 17%, 14%); 
    width: 1500px;
    height: 800px;
    margin: 0 auto;
    border-radius: 20px;
    
    
}

header{
    background: hsl(232, 19%, 15%);
    width: 1500px;
    height: 200px;
    margin: auto;
    padding-top: 30px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
}

.container{
    width: 1500px;
    justify-items: center;
}

nav{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article{
    width: 270px;    
    background: hsl(228, 28%, 20%);
    border-radius: 10px;
}

section{
    width: 1500px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 25px;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

p{
    color: hsl(0, 0%, 100%);
    margin-left: 175px;
}

aside{
    width: 270px;    
    background: hsl(228, 28%, 20%);
    border-radius: 10px;
    height: 130px;
    
}

.principal-secundario {  display: grid;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 0.5fr;
    grid-auto-columns: 5fr;
    gap: 25px;
    width: 1000px;
    margin-left: 170px;
    grid-auto-flow: row;
    text-align: center;
    color: hsl(0, 0%, 100%);
    grid-template-areas:
      "box1 box2 box3 box4"
      "box5 box6 box7 box8";
      
  }
  
  .box1 { grid-area: box1; }
  
  .box2 { grid-area: box2; }
  
  .box3 { grid-area: box3; }
  
  .box4 { grid-area: box4; }
  
  .box5 { grid-area: box5; }
  
  .box6 { grid-area: box6; }
  
  .box7 { grid-area: box7; }
  
  .box8 { grid-area: box8; }
  
.bloco-7{
    
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}





.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
 