body{
    background: linear-gradient() hsl(210, 78%, 56%) para hsl(146, 68%, 55%);
    background: hsl(230, 17%, 14%);
    font-family: 'inter';
    
}

#page{
    background: hsl(232, 19%, 15%);
    width: 70vw;
    height: 80vh;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 5rem;
}


header{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    background: hsl(236, 19%, 17%);
    width: 100%;
    height: 13rem;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
}

input {
    
    width: 90px;
    height: 40px;
    border-radius: 100px;
    margin-left: 20px;
    background: red;
    cursor: pointer;
    outline: 0;
    position: relative;
    text-align: center;
}

header .toggle-mode input[type=checkbox] {
    
    width: 90px;
    height: 40px;
    border-radius: 100px;
    margin-left: 20px;
    background: var(--ToggleBtnDark);
    cursor: pointer;
    outline: 0;
    position: relative;
}

article{
    width: 70%; 
    height: 190px;   
    background: hsl(228, 28%, 20%);
    border-radius: 5px;
}

.title-box{
    justify-content: space-around;
    text-align: left;
    align-items: baseline;
}

section{
    width: 70%;
    height: 80%;
    z-index: -6px;
    display: flex;  
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 25px;
    margin-top: -6rem;
    text-align: center;
    color: hsl(0, 0%, 100%);
}

strong{
    font-size: 25px;
}

p{
    color: hsl(228, 34%, 66%);
}

span{
    color: hsl(228, 34%, 66%);
    margin: 0;
    font-size: 13px;
}


.sub-title{
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    margin-left: 13rem;
}



aside{
    width: 100%;  
    height: 8rem;  
    background: hsl(228, 28%, 20%);
    border-radius: 5px;
}

.grid-container {  
    display: grid;
    grid-auto-columns: 5fr;
    gap: 2rem;
    width: 70%;
    height: 80%;
    margin: auto;
    grid-auto-flow: row;
    text-align: center;
    color: hsl(0, 0%, 100%);
    grid-template-areas:
      "card card card card"
      "card card card card";
      
  }
  
  .card1 { grid-area: card1; }
  
  .card2 { grid-area: card2; }
  
  .card3 { grid-area: card3; }
  
  .card4 { grid-area: card4; }
  
  .card5 { grid-area: card5; }
  
  .card6 { grid-area: card6; }
  
  .card7 { grid-area: card7; }
  
  .card8 { grid-area: card8; }
  
.card{
    
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
}

.logo{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.text{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 0.5em;
    margin-top: 35px;
    
}

.title{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
    color: hsl(0, 0%, 100%);
}

.up{
    font-size: 13px;
    color: hsl(163, 72%, 41%);
}

.down{
    font-size: 13px;
    color: hsl(356, 69%, 56%);
}

.attribution { 
    font-size: 11px; text-align: center;
    color: hsl(0, 7%, 65%);
}
.attribution a { color: hsl(228, 45%, 44%); }
 