.c-top--instagram {
    border-image: var(--instagram);
    position: relative;
}

.c-top--instagram::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    height: 4px;
    background: var(--instagram);
    border-radius: 5px 5px 0 0;
}

.c-top--youtube {
    border-color: var(--youtube);
}