.togle-c {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    padding: 10px 0 16px 0;

    &_title {
        color: var(--dark-text1);
        font-size: 14px;

        @media(mon-width:1440px) {
            padding-right: 13px;
        }
    }
}

.togle {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 24px;
    grid-area: 1/2/2/3;
  }
  
/* Ocultar a caixa de seleção HTML padrão */
  .togle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* O controle deslizante */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--toggle-dark);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: var(--toggle-circle-dark);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked+.slider {
    background: var(--toggle-light);
  }
  
  input:focus+.slider {
    outline: dashed 2px lightgrey;
    outline-offset: 5px;
  }
  
  input:checked+.slider:hover {
    background: var(--toggle-dark);
  }
  
  input:checked+.slider:before {
    transform: translateX(22px);
    background: var(--toggle-circle-light);
  }
  
  /* Controles deslizantes arredondados */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
// titulo de destaque ao passar o mouse sobre o togle veja: https://jsfiddle.net/ThinkingStiff/dWHzF/
  // * Funciona apenas em seletores descendentes ou próximos irmãos NÃO irmãos anteriores ou pais!
  
  /* p cor quando não marcada */
  input+.slider:hover+.togle-c__title {
    color: var(--dark-text2);
  }
  /* cor p quando marcada */
  input:checked+.slider:hover+.togle-c__title {
    color: var(--light-text2);
  }
  
  .togle-c__title {
    position: relative;
    top: -22px;
    left: -85px;
    width: max-content;
  }
  
  // tema de luz deslizante
  .slider.light-theme {
    background: var(--toggle-light);
  }
  
  .slider:hover.light-theme {
    background: var(--toggle-dark);
  }
  
  .slider::before.light-theme {
    background: var(--toggle-circle-light);
  }
  
  // controle deslizante tema escuro
  .slider.dark-theme {
    background: var(--toggle-dark);
  }
  
  .slider:hover.dark-theme {
    background: var(--toggle-dark);
  }
  
  .slider::before.dark-theme {
    background: var(--toggle-circle-dark);
  }
  input:checked.togle:hover.togle-c__title {
    color: red;
  }